﻿.laser {
    width: 25px;
    height: 25px;
    background-color: #2F4F4F;
    border-radius: 50%;
    z-index: 10;
    position: absolute;
    box-shadow: inset 0 0 10px gold, 0 0 10px yellow;
    // animation-name: move;
    animation-duration: 15s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes move{
    0% {
        left: 0;
    }
    25% {
        left: 100%
    }
    to {
        left: 100%
    }
}

// .move-appear {
//     left: 0;
// }

// .move-appear.move-appear-active {
//     left: 100%;
//     transition: left 300ms linear;
// }


  .example-enter {
    // opacity: 0.01;
    left: 0;
  }
  
  .example-enter.example-enter-active {
    left: 50%
    // opacity: 1;
    // transition: opacity 500ms ease-in;
  }
  
  .example-leave {
    left: 75%;
    // opacity: 1;
  }
  
  .example-leave.example-leave-active {
    left: 100%;
    // opacity: 0.01;
    // transition: opacity 300ms ease-in;
  }