﻿$cube-size: 40px;
$cube-color: rgba(168, 167, 174, 0.1);
$cube-border: 2px solid #2F4F4F;
$vertical-position: 100px;
$horizontal-position: 150px;
$vibration-range: 10px;

.cube {
  position: absolute;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: 1;

  &#cube0 {
    top: $vertical-position;
    left: $horizontal-position;
    animation-name: vibration_top;

    .cube {
      &__surface {
        transform: rotateX(10deg) rotateY(10deg) rotateZ(25deg);
        animation-name: rotation_leftTop;
      }
    }

  }

  &#cube1 {
    bottom: $vertical-position;
    left: $horizontal-position;
    animation-name: vibration_bottom;

    .cube {
      &__surface {
        transform: rotateX(-10deg) rotateY(-10deg) rotateZ(-25deg);
        animation-name: rotation_leftBottom;   
      }
    }
  }

  &#cube2 {
    top: $vertical-position;
    right: $horizontal-position;
    animation-name: vibration_top;  

    .cube {
      &__surface {
        transform: rotateX(-10deg) rotateY(-10deg) rotateZ(-25deg);
        animation-name: rotation_rightTop;       
      }
    }
  }

  &#cube3 {
    bottom: $vertical-position;
    right: $horizontal-position;
    animation-name: vibration_bottom;  

    .cube {
      &__surface {
        transform: rotateX(10deg) rotateY(-10deg) rotateZ(25deg);
        animation-name: rotation_rightBottom;   
      }
    }
  }

  &__surface {
    width: $cube-size;
    height: $cube-size;
    position: relative;
    transform-style: preserve-3d;
    transition: all .5s ease-in-out;
    animation-duration: 7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
}

.cube__face {
  position: absolute;
  background: $cube-color;
  width: $cube-size;
  height: $cube-size;
  border: $cube-border;

  animation-duration: 60s;
  animation-delay: 30s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.cube__face--front {
  transform: rotateY( 0 ) translateZ( 25px );
  animation-name: destruction_front
}

.cube__face--back {
  transform: rotateY( 180deg) translateZ(25px);
  animation-name: destruction_back;
}

.cube__face--right  {
  transform: rotateY( 90deg) translateZ(25px);
  animation-name: destruction_right;
}

.cube__face--left {
  transform: rotateY( -90deg) translateZ(25px);
  animation-name: destruction_left;
}

.cube__face--top {
  transform: rotateX( 90deg) translateZ(25px);
  animation-name: destruction_top;
}

.cube__face--bottom {
  transform: rotateX( -90deg) translateZ(25px);
  animation-name: destruction_bottom;
}


@keyframes rotation_leftTop {
  0% {
    transform: rotateX(10deg) rotateY(10deg) rotateZ(25deg);
  }
  25% {
    transform: rotateX(-10deg) rotateY(-10deg) rotateZ(-25deg);
  }
  50% {
    transform: rotateX(-10deg) rotateY(-10deg) rotateZ(-25deg);
  }
  75% {
    transform: rotateX(10deg) rotateY(10deg) rotateZ(25deg);
  }
  100% {
    transform: rotateX(10deg) rotateY(10deg) rotateZ(25deg);
  }
}

@keyframes rotation_leftBottom {
  0% {
    transform: rotateX(-10deg) rotateY(-10deg) rotateZ(-25deg);
  }
  25% {
    transform: rotateX(10deg) rotateY(10deg) rotateZ(25deg);
  }
  50% {
    transform: rotateX(10deg) rotateY(10deg) rotateZ(25deg);
  }
  75% {
    transform: rotateX(-10deg) rotateY(-10deg) rotateZ(-25deg);
  }
  100% {
    transform: rotateX(-10deg) rotateY(-10deg) rotateZ(-25deg);
  }
}

@keyframes rotation_rightTop {
  0% {
    transform: rotateX(-10deg) rotateY(-10deg) rotateZ(-25deg);
  }
  25% {
    transform: rotateX(10deg) rotateY(10deg) rotateZ(25deg);
  }
  50% {
    transform: rotateX(10deg) rotateY(10deg) rotateZ(25deg);
  }
  75% {
    transform: rotateX(-10deg) rotateY(-10deg) rotateZ(-25deg);
  }
  100% {
    transform: rotateX(-10deg) rotateY(-10deg) rotateZ(-25deg);
  }
}

@keyframes rotation_rightBottom {
  0% {
    transform: rotateX(10deg) rotateY(-10deg) rotateZ(25deg);
  }
  25% {
    transform: rotateX(-10deg) rotateY(10deg) rotateZ(-25deg);
  }
  50% {
    transform: rotateX(-10deg) rotateY(10deg) rotateZ(-25deg);
  }
  75% {
    transform: rotateX(10deg) rotateY(-10deg) rotateZ(25deg);
  }
  100% {
    transform: rotateX(10deg) rotateY(-10deg) rotateZ(25deg);
  }
}


@keyframes vibration_top {
  0% {
    top: $vertical-position;
  }
  5% {
    top: $vertical-position + $vibration-range;
  }
  10% {
    top: $vertical-position - $vibration-range;
  }
  20% {
    top: $vertical-position;
  }
  100% {
    top: $vertical-position;
  }
}

@keyframes vibration_bottom {
  0% {
    bottom: $vertical-position;
  }
  5% {
    bottom: $vertical-position + $vibration-range;
  }
  10% {
    bottom: $vertical-position - $vibration-range;
  }
  20% {
    bottom: $vertical-position;
  }
  100% {
    bottom: $vertical-position;
  }
}


@keyframes destruction_front {
  0%, 55%, 100% {
      transform: rotateY( 0deg) translateZ(25px);
    }
    50% {
      transform: rotateY( 0deg) translateZ(100px); 
    }
}

@keyframes destruction_right {
  0%, 55%, 100% {
      transform: rotateY( 90deg) translateZ(25px);
    }
    50% {
      transform: rotateY( 90deg) translateZ(100px); 
    }
}

@keyframes destruction_back {
  0%, 55%, 100% {
      transform: rotateY( 180deg) translateZ(25px);
    }
    50% {
      transform: rotateY( 180deg) translateZ(100px); 
    }
}

@keyframes destruction_left {
  0%, 55%, 100% {
      transform: rotateY( -90deg) translateZ(25px);
    }
    50% {
      transform: rotateY( -90deg) translateZ(100px); 
    }
}

@keyframes destruction_top {
  0%, 55%, 100% {
      transform: rotateX(90deg) translateZ(25px);
    }
    50% {
      transform: rotateX(90deg) translateZ(100px); 
    }
}

@keyframes destruction_bottom {
    0%, 55%, 100% {
      transform: rotateX(-90deg) translateZ(25px);
    }
    50% {
      transform: rotateX(-90deg) translateZ(100px) 
    }
}