﻿.baner {
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 15px;
    position: relative;
    overflow: hidden;
    background-color: #FBFBFB;
    background-image: url('meditation.png');
    background-repeat: no-repeat;
    background-position: center;
}